<div class="task_info">
    <input type="checkbox" name="done" value="check" class="checkbox">
    <h2><%= task_item.content %></h2>
</div>
<%#= link_to "Delete", task_list_task_item_path(@task_list, task_item.id), method: :delete, data: { confirm: "Are you sure?" } %>

<%#= link_to "Mark as Complete", complete_task_list_task_item_path(@task_list, task_item.id), method: :patch %>

<%# if task_item.completed? %>

<%# else %>

<%# end %>


